<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'w3/w3.css' %}">
        <link rel="stylesheet" href="{% static 'website/website.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
          crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
          integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
          crossorigin=""></script>
    </head>
    <body class="bg-dark text-white">

      <!-- Navbar -->
      {% block nav %}{% include 'website/navbar.html' %}{% endblock nav %}
      
      <!-- Website info and Map -->
      <div id="website-info">
        <div class="website-info-box text-bg-dark p-3" id="website-statistics">
          <h2>Welcome to Puppet Master!</h2>
          <p>Numer of connected clients: {{statistics.num_clients}}</p>
          <p>Top os: {{statistics.top_os}}</p>
          <p>Encountered errors: {{statistics.errors}}</p>
        </div>
        <div class="website-info-box text-bg-dark p-3" id="website-map">
          <h2>Map</h2>
          <div id="mapid" style='height: 300px'></div>
        </div>
      </div>
      
      <!-- Client filter -->
      <div class="w3-container">
        <form method="GET">
          {{ filter.form.os_name }}
          {{ filter.form.hostname }}
          <button class="w3-button w3-black" type="submit">Apply Filter</button>
        </form>
      </div>
      
      <!-- Client table -->


      <div class="w3-container table-wrapper-scroll-y w3-padding-16" style="overflow: auto"> 
        <table class="table table-dark table-striped table-hover mb-0" id="client_table">
            <tr style="background-color: black;"> 
              <td><input type="checkbox" name="selectAll" value="1" id="master_checkbox" onclick="selectAll()" style="cursor: pointer;"></td>
              <td>Client IP</td>
              <td>OS</td>
              <td>Computer name</td>
              <td>Host User</td>
              <td>Privileges</td>
            </tr>
            <form method="post">
            {% csrf_token %}
             
          {% for client in filter.qs %}
            <tr id="{{client.client_id}}" style="cursor: pointer;">
                <td><input type="checkbox" name="select" value='{{client.client_id}}' id="{{client.id}}"></td> 
                <td>{{client.ip}}</td>
                <td>{{client.os_name}} v. {{client.os_version}}</td>
                <td>{{client.hostname}}</td>
                <td>{{client.host_user}}</td>
                <td>{{client.privileges}}</td>
            </tr>
            {% endfor %}
            </div>
        </table>
      </div>

      <!-- Send task fields -->
      <div class="w3-container" style="position: absolute; right: 10; bottom: 10; width: 500;" action="/website/" id="submit" hidden>
        <div class="w3-container w3-quarter" style="float: right">
          <input class ="w3-button w3-block w3-black", type="submit", value="Submit" id="send_task" disabled> 
        </div>
        <div class="w3-container w3-half" style="float: right">
          <select class="w3-select" name="option" id="task_selection">
            <option value="default" disabled selected id="default_task">Select Task</option>
            {% for task in tasks %}
            <option value="{{task.name}}">{{task.name}}</option>
            {% endfor %}
          </select> 
          <div style="margin-top: 10px;">
            <input class = "w3-block" type="text" name="text" placeholder="Enter command..." id="command_text" hidden>
          </div>
        </div>
      </div>
            </form>
      
   

      <div style="display: none" id="jsonData" data-json="{{ locations }}"></div>
      <script src="{% static 'website/website.js' %}"></script>
      


      <!-- JS for data collection -->
      <script type="text/javascript">
        
        // Initialize data for javascript
        let data = [];
        let div_ids = []; 
      {% for i in filter.qs %}
        data.push({{i.id}}); 
        div_ids.push("{{i.client_id}}");
      {% endfor %}
      
        // Event listeners
        for(let i = 0; i < data.length; i++) {
          document.getElementById(data[i]).addEventListener("click", toggleSubmit);
          document.getElementById(data[i]).addEventListener("click", toggleMarker);
          document.getElementById(div_ids[i]).addEventListener("click", () => {checkboxDiv(data[i])});
          document.getElementById(div_ids[i]).addEventListener("click", toggleSubmit);
        }
        document.getElementById("submit").addEventListener("change", enableButton); 
        document.getElementById("command_text").addEventListener("input", enableButton);
        document.getElementById("send_task").addEventListener("click", sendAlert);
        document.getElementById("master_checkbox").addEventListener("click", toggleMarker);
        
        toggleSubmit();
        
        // UI Functions

        function checkboxDiv(id){
          let checkbox = document.getElementById(id).checked;
          if(checkbox){
            document.getElementById(id).checked = false;
          } else {
            document.getElementById(id).checked = true; 
          }
        }

        function selectAll(){
          if(document.getElementById("master_checkbox").checked) {
            for(let i = 0; i < data.length; i++) {
              document.getElementById(data[i]).checked = true; 
            }
            toggleSubmit();
          } else {
            for(let i = 0; i < data.length; i++) {
              document.getElementById(data[i]).checked = false; 
            }
            toggleSubmit();
          }
        }
        
        function toggleSubmit(){
          console.log("hej");
          submit_element = document.getElementById("submit") 
          checked = false; 
          for(let i = 0; i < data.length; i++) {
            if(document.getElementById(data[i]).checked) {
              checked = true;
            }
          }
          if(checked){
            submit_element.hidden = false;
          } else {
            submit_element.hidden = true;
          }
        }

        function enableButton(){
          task_selection = document.getElementById("task_selection");
          button = document.getElementById("send_task")
          command_text_element = document.getElementById("command_text");
          if(task_selection.value != "default"){
            button.disabled = false;
            if (task_selection.value == "Write command"){
              command_text_element.hidden = false;
              command_text_value = document.getElementById("command_text").value;
              if(command_text_value === ""){
                button.disabled = true; 
              }
            }
            else {
              command_text_element.hidden = true;
            }
          } else {
            button.disabled = true; 
          }
        }

        function sendAlert(){
          task_selection = document.getElementById("task_selection").value;
          no_of_clients = 0;

          for(let i = 0; i < data.length; i++) {
            if(document.getElementById(data[i]).checked) {
              no_of_clients++;
            }
          }

          alert_text = "Sent " + task_selection + " to " + no_of_clients + " clients";

          if(task_selection == "Write command") {
            command_text = document.getElementById("command_text").value; 
            alert_text = alert_text + ", written command: " + command_text;
          }

          alert(alert_text);          
        }
      
        
        
      </script> 
    </body> 
</html>
