<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'w3/w3.css' %}">
        <link rel="stylesheet" href="{% static 'website/website.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
          crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
          integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
          crossorigin=""></script>
    </head>
    <body class="bg-dark text-white">

      <!-- Navbar -->
      <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: black;" >
        <div class="container-fluid">
          <a class="navbar-brand" href=''>Puppet Master</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href=''>Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=''>Tasks</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Website info and Map -->
      <div id="website-info">
        <div class="website-info-box text-bg-dark p-3" id="website-statistics">
          <h2>Welcome to Puppet Master!</h2>
          <p>Numer of connected clients: {{statistics.num_clients}}</p>
          <p>Top os: {{statistics.top_os}}</p>
          <p>Encountered errors: {{statistics.errors}}</p>
        </div>
        <div class="website-info-box text-bg-dark p-3" id="website-map">
          <h2>Map</h2>
          <div id="mapid" style='height: 200px'></div>
        </div>
      </div>
      
      <!-- Client table -->
      
      
      <div class="w3-container table-wrapper-scroll-y w3-padding-16" style="height:500px; overflow: auto"> 
        <table class="table table-dark table-striped table-hover mb-0">
            <tr style="background-color: black;"> 
              <td><input type="checkbox" name="selectAll" value="1" id="master_checkbox" onclick="selectAll()"></td>
              <td>Client ID</td>
              <td>OS</td>
              <td>Computer name</td>
              <td>Host User</td>
              <td>Status</td>
            </tr>
            <form method="post">
            {% csrf_token %}
          {% for client in clients %}
            <tr>
                <td><input type="checkbox" name="select" value='{{client.client_id}}' id="{{client.client_id}}"></td> 
                <td>{{client.client_id}}</td>
                <td>{{client.os}} v. {{client.version}}</td>
                <td>{{client.host_name}}</td>
                <td>{{client.host_user}}</td>
                <td>{{client.status}}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
      <div class="w3-container w3-padding-16" action="/website/" method="sendTask">
        <div class="w3-container w3-half w3-center">
          <select class="w3-select" name="option">
            <option value="" disabled selected>Choose task</option>
            {% for task in tasks %}
            <option value="{{task.name}}">{{task.name}}</option>
            {% endfor %}
          </select>   
        </div>
        <div class="w3-container w3-half w3-center ">
          <input class ="w3-button w3-block w3-black", type="submit", value="Submit"> 
        </div>
      </div>
            </form>
      
   

      <div style="display: none" id="jsonData" data-json="{{ locations }}"></div>
      <script src="{% static 'website/website.js' %}"></script>
      


      <!-- JS for data collection -->
      <script type="text/javascript">
        console.log("hej :)");
        // Initialize data for javascript
        let data = [];
      {% for i in clients %}
        data.push({{i.client_id}});
      {% endfor %}
    
        function selectAll(){
          if(document.getElementById("master_checkbox").checked) {
            for(let i = 0; i < data.length; i++) {
              document.getElementById(data[i]).checked = true; 
            }
          } else {
            for(let i = 0; i < data.length; i++) {
              document.getElementById(data[i]).checked = false; 
            }
          }
        }

        
      </script> 
    </body> 
</html>
