<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'w3/w3.css' %}">
        <link rel="stylesheet" href="{% static 'website/website.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
          crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
          integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
          crossorigin=""></script>
    </head>
    <body class="bg-dark text-white">
      <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: black;" >
        <div class="container-fluid">
          <a class="navbar-brand" href=''>Puppet Master</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href=''>Clients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href=''>Tasks</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="website-info">
        <div class="website-info-box text-bg-dark p-3" id="website-statistics">
          <h2>Welcome to Puppet Master!</h2>
          <p>Numer of connected clients: {{statistics.num_clients}}</p>
          <p>Top os: {{statistics.top_os}}</p>
          <p>Encountered errors: {{statistics.errors}}</p>
        </div>
        <div class="website-info-box text-bg-dark p-3" id="website-map">
          <h2>Map</h2>
          <div id="mapid" style='height: 200px'></div>
        </div>
      </div>
      <div class="w3-container table-wrapper-scroll-y w3-padding-16" style="height:500px; overflow: auto"> 
        <table class="table table-dark table-striped table-hover mb-0">
            <td>Client ID</td>
            <td>OS</td>
            <td>Status</td>
          {% for i in data%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.os}}</td>
                <td>{{i.status}}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
      <div style="display: none" id="jsonData" data-json="{{ locations }}"></div>
      <script src="{% static 'website/website.js' %}"></script>
    </body> 
</html>
