{% block nav%}    
  <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: black;" >
    <div class="container-fluid">
      <a class="navbar-brand" href=''>Puppet Master</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if '/clients' in request.path %}active{% endif %}"  href='clients'>Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if '/tasks' in request.path %}active{% endif %}" href='tasks'>Tasks</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock nav%}