<html>
  <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'w3/w3.css' %}">
      <link rel="stylesheet" href="{% static 'website/website.css' %}">
  </head>
  <body class="bg-dark text-white">
    <!-- Navbar -->
    {% block nav %}{% include 'website/navbar.html' %}{% endblock nav %}

    <div id="notis">
      <div id="notis-header">
        <p>Task Updated</p>
      </div>
      <div id="notis-content">
          <p id="notis-content-p">You have a notification!</p>
      </div>
    </div>

    <!-- Heading -->
    <div class="w3-container"> 
      <h1>Task History</h1>
    </div>

    <!-- Task filter -->
    <div class="w3-container">
      <form method="GET">
        {{ tasks.form.client_id__ip }}
        {{ tasks.form.status }}
        {{ tasks.form.task_type }}
        <button class="w3-button w3-black" type="submit">Apply Filter</button>
      </form>
    </div>


    <!-- Tasks table -->
    <div class="w3-container table-wrapper-scroll-y w3-padding-16" style="height:500px; overflow: auto"> 
        <table class="table table-dark table-striped table-hover mb-0">
            <tr style="background-color: black;"> 
              <td><input type="checkbox" name="select_all" value="1" id="master_checkbox" onclick="select_all()"></td>
              <td>Task ID</td>
              <td>Client IP</td>
              <td>Start Time</td>
              <td>Status</td>
              <td>Task Type</td>
              <td>Task Info</td>
            </tr>
            <form method="post" >
            {% csrf_token %}
            {% for i in tasks.qs%}
            <tr>
                <td><input type="checkbox" name="select" value="{{i.id}}" id="{{i.id}}"></td> 
                <td>{{i.id}}</td>
                <td>{{i.client_id.ip}}</td>
                <td>{{i.start_time}}</td>
                <td id="status:{{i.task_id}}">{{i.status}}</td>
                <td>{{i.task_type}}</td>
                <td>{{i.task_info}}</td>
            </tr>
            {% endfor %}
        </table>
      </div>

      <!-- Kill task selection -->
      <div class="w3-container w3-padding-16" id="submit" hidden>
        <div class="w3-container w3-quarter w3-center" style="float: right">
          <input class ="w3-button w3-block w3-black", type="submit", value="Kill Task" id="send_kill"> 
        </div>
      </div>
      </form>


    <script type="text/javascript">

      // Initialize data for javascript
      let data = [];
      {% for i in tasks.qs %}
        data.push({{i.id}});
      {% endfor %}

      // Event listeners
      for(let i = 0; i < data.length; i++) {
        document.getElementById(data[i]).addEventListener("click", toggleSubmit)
      }

      toggleSubmit();

      function toggleSubmit(){
        submit_element = document.getElementById("submit") 
        checked = false; 
        for(let i = 0; i < data.length; i++) {
          if(document.getElementById(data[i]).checked) {
            checked = true;
          }
        }
        if(checked){
          submit_element.hidden = false;
        } else {
          submit_element.hidden = true; 
        }
      }
  
      function select_all(){
        if(document.getElementById("master_checkbox").checked) {
          for(let i = 0; i < data.length; i++) {
            document.getElementById(data[i]).checked = true; 
          }
          toggleSubmit();
        } else {
          for(let i = 0; i < data.length; i++) {
            document.getElementById(data[i]).checked = false; 
          }
          toggleSubmit();
        }
      }

      const csrf_token = '{{ csrf_token }}';
      
      function get_updated_tasks(){
        fetch('updated_task', {
              method: 'GET',
              credentials: 'same-origin',
              headers:{
                //'Accept': 'application/json',
                //'X-Requested-With': 'XMLHttpRequest', 
                'X-CSRFToken': csrf_token, 
              }}).then((response) => response.json())
                  .then((data) => {
                    tasks_list = data.tasks
                    for (i = 0; i < tasks_list.length; i++) {
                      var task = tasks_list[i];
                      var our_id = task.id;
                      var task_id = task.task_id;
                      var new_status = task.new_status;
                      var elem_id = 'status:' + task_id;
                      var status_element = document.getElementById(elem_id);
                      status_element.innerHTML = new_status;
                      var alert_text = 'Task ' + our_id + ' is now ' + new_status;
                      var notis = document.getElementById('notis')
                      var notis_content = document.getElementById('notis-content-p');
                      notis_content.innerHTML = alert_text;
                      //notis.style.visibility = 'show';
                      document.getElementById('notis').style.visibility = "visible";
                      setTimeout(function(){
                        document.getElementById('notis').style.visibility = "hidden"
                      }, 10000);
                    }
                  });
        }

        setInterval(get_updated_tasks, 5000);

    </script>
  </body> 
</html>