<html>
  <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'w3/w3.css' %}">
      <link rel="stylesheet" href="{% static 'website/website.css' %}">
  </head>
  <body class="bg-dark text-white">
    <!-- Navbar -->
    {% block nav %}{% include 'website/navbar.html' %}{% endblock nav %}

    <div id="notis">
      <div id="notis-header">
        <p>Task Updated</p>
      </div>
      <div id="notis-content">
          <p id="notis-content-p">You have a notification!</p>
      </div>
    </div>

    <!-- Heading -->
    <div class="w3-container"> 
      <h1>Task History</h1>
    </div>

    <!-- Task filter -->
    <div class="w3-container">
      <form method="GET">
        {{ tasks.form.client_id__ip }}
        {{ tasks.form.status }}
        {{ tasks.form.task_type }}
        <button class="w3-button w3-black" type="submit">Apply Filter</button>
      </form>
    </div>


    <!-- Tasks table -->
    <div class="w3-container table-wrapper-scroll-y w3-padding-16" style="height:700px; overflow: auto"> 
        <table class="table table-dark table-striped table-hover mb-0">
            <tr style="background-color: black;"> 
              <td>Task ID</td>
              <td>Client IP</td>
              <td>Start Time</td>
              <td>Status</td>
              <td>Task Type</td>
              <td>Task Info</td>
              <td class="w3-center">Kill Task</td>
              <td class="w3-center">Task Output</td>
            </tr>
            <form method="post" >
            {% csrf_token %}
            {% for i in tasks.qs%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.client_id.ip}}</td>
                <td>{{i.start_time_datetime.date}} {{i.start_time_str}}</td>
                {% if i.status == 'Pending' %}
                  <td style='color: yellow' id="status:{{i.task_id}}">pending</td>
                {% elif i.status == 'in progress' %}
                  <td style='color: orange' id="status:{{i.task_id}}">{{i.status}}</td>
                {% elif i.status == 'done' %}
                  <td style='color: green' id="status:{{i.task_id}}">{{i.status}}</td>
                {% elif i.status == 'aborted' %}
                  <td style='color: purple' id="status:{{i.task_id}}">{{i.status}}</td>
                {% elif i.status == 'error' %}
                  <td style='color: red' id="status:{{i.task_id}}">{{i.status}}</td>
                {% else %}
                  <td id="status:{{i.task_id}}">{{i.status}}</td>
                {% endif %}
                <td>{{i.task_type}}</td>
                <td class="task-info">{{i.task_info}}</td>
                <td class="w3-center">
                  <button class="w3-button w3-black" name="abort" type="submit" value="{{i.id}}" id="{{i.id}}_kill" onclick="event.stopPropagation();" hidden>
                    Kill
                  </button>
                </td>
                <td class="w3-center">
                  <b class="w3-button w3-circle w3-black" id="{{i.task_id}}_button" onclick="event.stopPropagation();" hidden>
                    i
                  </b>
                </td>
            </tr>
            {% endfor %}
        </table>
      </div>
      </form>

      <div class="w3-container" id="output" hidden>
        <button id="close_output" class="w3-button w3-large w3-circle w3-ripple w3-black" onclick="document.getElementById('output').hidden = true">
          x
        </button> 
        <h3>Output:</h3>
        <p id="output_p">Hej</p>
      </div> 
    <script type="text/javascript">

      // Initialize data for javascript
      let data = [];
      let div_ids = []; 
      output_div = document.getElementById("output");
      {% for i in tasks.qs %}
        data.push({{i.id}});
        div_ids.push("{{i.task_id}}");
        var output_button = document.getElementById("{{i.task_id}}_button");
        output_button.addEventListener("click", () => {getTaskOutput("{{i.client_id}}", "{{i.task_id}}")});
        if("{{i.status}}" == "done" || "{{i.status}}" == "error") {
          output_button.hidden = false;
        }
        if("{{i.status}}" == "Pending" || "{{i.status}}" == "in progress") {
          document.getElementById("{{i.id}}_kill").hidden = false; 
        }
      {% endfor %}

      const csrf_token = '{{ csrf_token }}';

      function getTaskOutput(client_id, task_id) {
        //GET with client_id and task_id
        //Put output in output-div, make div visible
        fetch('task_output', {
              method: 'POST',
              credentials: 'same-origin',
              headers:{
                'X-CSRFToken': csrf_token,
                'Accept': 'application/json',
                'Content-Type': 'application/json' 
              },
              body: JSON.stringify({ 
                'client_id': client_id,
                'task_id': task_id,
              }),
        }).then((response) => response.json())
                  .then((data) => {
                    var output = "No output";
                    if(data.output != ""){
                      output = data.output; 
                    };
                    document.getElementById("output").hidden = false;  
                    document.getElementById("output_p").innerHTML = output;
                  });
      }
                  

      
      
      function get_updated_tasks(){
        fetch('updated_task', {
              method: 'GET',
              credentials: 'same-origin',
              headers:{
                //'Accept': 'application/json',
                //'X-Requested-With': 'XMLHttpRequest', 
                'X-CSRFToken': csrf_token, 
              }}).then((response) => response.json())
                  .then((data) => {
                    tasks_list = data.tasks
                    for (i = 0; i < tasks_list.length; i++) {
                      var task = tasks_list[i];
                      var our_id = task.id;
                      var task_id = task.task_id;
                      var new_status = task.new_status;
                      var elem_id = 'status:' + task_id;
                      var status_element = document.getElementById(elem_id);
                      status_element.innerHTML = new_status;
                      var alert_text = 'Task ' + our_id + ' is now ' + new_status;
                      var notis = document.getElementById('notis')
                      var notis_content = document.getElementById('notis-content-p');
                      notis_content.innerHTML = alert_text;
                      //notis.style.visibility = 'show';
                      document.getElementById('notis').style.visibility = "visible";
                      if(new_status == "done") {
                        document.getElementById(task_id + "_button").hidden = false; 
                      }
                      setTimeout(function(){
                        document.getElementById('notis').style.visibility = "hidden"
                      }, 10000);
                    }
                  });
        }

        setInterval(get_updated_tasks, 5000);

    </script>
  </body> 
</html>